<header class="section page-header">
    <div class="container-fluid header-address">
      <div class="container px-0">
        <div class="row mx-0 py-2">
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 px-0">
            <a href="tel:#"><i class="fas fa-phone"></i> +91-7398474111</a>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 px-0">
            <a href="mailto:#"><i class="fas fa-envelope"></i> ayashrugs@gmail.com</a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 px-0">
            <a href="#"><i class="fas fa-map-marker"></i> Bedamanpur, Parsipur, Bhadohi</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand logo-title" href="javascript:void(0)">
            Ayash Rugs
            <!-- <img src="../../assets/images/logo-default-251x70.png" alt="" class="w-75"> -->
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: end;">
            <ul class="navbar-nav mb-2 mb-lg-0 mr-4">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLinkActive="active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Product
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="/product/details">Hand Knotted</a></li>
                  <li><a class="dropdown-item" routerLink="/product/details">Natural Hand Knotted</a></li>
                  <li><a class="dropdown-item" routerLink="/product/details">Pet Loom Durry</a></li>
                  <li><a class="dropdown-item" routerLink="/product/details">Furr Polyester</a></li>
                  <li><a class="dropdown-item" routerLink="/product/details">Kilim Durry</a></li>
                  <li><a class="dropdown-item" routerLink="/product/details">Tufftted</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" tabindex="-1" routerLinkActive="active" routerLink="/picture">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/contact" tabindex="-1">Contacts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/upload" tabindex="-1">Upload Image</a>
              </li>
            </ul>
            <form class="d-flex icons-1">
              <i class="fas fa-search text-normal"></i>
              <input class="form-control me-2 txt-control" type="search" placeholder="Search" aria-label="Search">
            </form>
          </div>
        </div>
    </nav>
</header>