<footer class="section footer-modern footer-modern-2">
    <div class="footer-modern-body section-md context-dark">
      <div class="container">
        <div class="row row-40 row-md-50 justify-content-xl-between">
          <div class="col-md-10 col-lg-3 col-xl-4 wow fadeInRight">
            <div class="block-1 pe-xl-70">
              <h5 class="footer-modern-title">Gallery</h5>
              <div class="row row-10 gx-10 gx-10" data-lightgallery="group">
                <div class="col-4 col-sm-2 col-lg-4">
                  <!-- Thumbnail Minimal--><a class="thumbnail-minimal" href="javascript:void(0)" data-lightgallery="item"><img src="../../assets/images/g-1.jpeg" alt="" width="93" height="93"/></a>
                </div>
                <div class="col-4 col-sm-2 col-lg-4">
                  <!-- Thumbnail Minimal--><a class="thumbnail-minimal" href="javascript:void(0)" data-lightgallery="item"><img src="../../assets/images/g-2.jpeg" alt="" width="93" height="93"/></a>
                </div>
                <div class="col-4 col-sm-2 col-lg-4">
                  <!-- Thumbnail Minimal--><a class="thumbnail-minimal" href="javascript:void(0)" data-lightgallery="item"><img src="../../assets/images/g-3.jpeg" alt="" width="93" height="93"/></a>
                </div>
                <div class="col-4 col-sm-2 col-lg-4">
                  <!-- Thumbnail Minimal--><a class="thumbnail-minimal" href="javascript:void(0)" data-lightgallery="item"><img src="../../assets/images/g-2.jpeg" alt="" width="93" height="93"/></a>
                </div>
                <div class="col-4 col-sm-2 col-lg-4">
                  <!-- Thumbnail Minimal--><a class="thumbnail-minimal" href="javascript:void(0)" data-lightgallery="item"><img src="../../assets/images/g-5.jpeg" alt="" width="93" height="93"/></a>
                </div>
                <div class="col-4 col-sm-2 col-lg-4">
                  <!-- Thumbnail Minimal--><a class="thumbnail-minimal" href="javascript:void(0)" data-lightgallery="item"><img src="../../assets/images/g-1.jpeg" alt="" width="93" height="93"/></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-7 col-lg-5 wow fadeInRight" data-wow-delay=".1s">
            <h5 class="footer-modern-title">Quick Links</h5>
            <ul class="footer-modern-list footer-modern-list-2 d-sm-inline-block d-md-block">
              <li><a href="#">Our Team</a></li>
              <li><a href="#">New Products</a></li>
              <li><a href="#">Top Sellers</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Gallery</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 wow fadeInRight" data-wow-delay=".2s">
            <h5 class="footer-modern-title">Get in touch</h5>
            <ul class="contacts-creative">
              <li>
                <div class="unit unit-spacing-sm flex-column flex-md-row">
                  <div class="unit-left"><span class="icon mdi mdi-map-marker"></span></div>
                  <div class="unit-body"><a href="javascript:void(0)">Bedamanpur, Parsipur, Bhadohi</a></div>
                </div>
              </li>
              <li>
                <div class="unit unit-spacing-sm flex-column flex-md-row">
                  <div class="unit-left"><span class="icon mdi mdi-phone"></span></div>
                  <div class="unit-body"><a href="tel:#">+91-7398474111</a></div>
                </div>
              </li>
              <li>
                <div class="unit unit-spacing-sm flex-column flex-md-row">
                  <div class="unit-left"><span class="icon mdi mdi-email-outline"></span></div>
                  <div class="unit-body"><a href="mailto:#">ayashrugs@gmail.com</a></div>
                </div>
              </li>
            </ul>
            <ul class="list-inline list-social-3 list-inline-sm">
              <li><a class="icon mdi mdi-facebook icon-xxs" target="_blank" href="https://www.facebook.com/profile.php?id=100078742982196"></a></li>
              <li><a class="icon mdi mdi-twitter icon-xxs" target="_blank" href="https://twitter.com/J77268431Shahid"></a></li>
              <li><a class="icon mdi mdi-instagram icon-xxs" target="_blank" href="https://www.instagram.com/ayashrugs2022/?utm_medium=copy_link"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-modern-panel text-center">
      <div class="container">
        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Ayus Rugs</span><span>.&nbsp;</span><a href="javascript:void(0)">Privacy Policy.&nbsp;</a></p>
      </div>
    </div>
  </footer>