

<div class="row mx-0 mt-4">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
        <div class="card shadow border-0">
            <div class="card-body text-center">
                <h2 class="text-primary-1 font-roboto">Hand Knotted</h2>
                <img src="../../assets/images/2.png" alt="">
                <p class="txt-61 font-w-normal font-14">
                    Hand knotted rugs are made by precisely tying several knots in a carpet. Traditionally, the knotted rugs are made on a designed loom. Vertical cotton threads are tied onto the loom which becomes the fringe of the carpet.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
        <div class="card shadow border-0">
            <div class="card-body text-center">
                <h2 class="text-primary-1 font-roboto">Natural Hand Knotted</h2>
                <img src="../../assets/images/natural-hand-knitted.jpeg" alt="">
                <p class="txt-61 font-w-normal font-14">
                    Hand knotted rugs are made by precisely tying several knots in a carpet. Traditionally, the knotted rugs are made on a designed loom. Vertical cotton threads are tied onto the loom which becomes the fringe of the carpet. In this process handles with all the natural threads and process.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-4 text-center">
        <div class="card shadow border-0">
            <div class="card-body text-center">
                <h2 class="text-primary-1 font-roboto">Pet Loom Durry</h2>
                <img src="../../assets/images/l-3.jpeg" alt="">
                <p class="txt-61 font-w-normal font-14">
                    This durrie, is essentially a cotton and wool mix woven thick floor covering. Besides cotton, jute, rayon and chenille are also used as raw materials to weave different and custom durries as per the requirement. The weaving is carried out manually by skilled artisans on a traditional horizontal loom or vertical loom.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row mx-0">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 text-center mb-4">
        <div class="card shadow border-0">
            <div class="card-body">
                <h2 class="text-primary-1 font-roboto">Furr Polyester</h2>
                <img src="../../assets/images/l-5.jpeg" alt="">
                <p class="txt-61 font-w-normal font-14">
                    This durrie, is essentially a cotton and pollyster mix woven thick floor covering. Besides cotton, jute, rayon and chenille are also used as raw materials to weave different and custom durries as per the requirement. The weaving is carried out manually by skilled artisans on a traditional horizontal loom or vertical loom
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 text-center mb-4">
        <div class="card shadow border-0">
            <div class="card-body text-center">
                <h2 class="text-primary-1 font-roboto">Kilim Durry</h2>
                <img src="../../assets/images/kilim.jpeg" alt="">
                <p class="txt-61 font-w-normal font-14">
                    This durrie, is essentially a woolen woven thick floor covering. The weaving is carried out manually by skilled artisans on a traditional horizontal loom or vertical loom
                </p>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 text-center mb-4">
        <div class="card shadow border-0">
            <div class="card-body text-center">
                <h2 class="text-primary-1 font-roboto">Tufftted</h2>
                <img src="../../assets/images/l-5.jpeg" alt="">
                <p class="txt-61 font-w-normal font-14">
                    This durrie, is essentially a woolen woven thick floor covering. The weaving is carried out manually by skilled artisans on a traditional horizontal loom or vertical loom
                </p>
            </div>
        </div>
    </div>
</div>

<!-- footer section -->
