<div class="container my-4">
    <div class="row mx-0">
        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 col-12">
            <ul>
                <li>Ayash Rugs</li>
                <li>
                    <a href="mailto:#"><i class="fas fa-envelope"></i> ayashrugs@gmail.com</a>
                </li>
                <li>
                    <a href="tel:#"><i class="fas fa-phone"></i> +91-7398474111</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-map-marker"></i> Bedamanpur, Parsipur, Bhadohi</a>
                </li>
            </ul>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3604.8639753286807!2d82.61534131493738!3d25.375874933813417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398fdc25c167fc2f%3A0x7ac79a9e15b0106f!2sBadamanpur%2C%20Uttar%20Pradesh%20221402!5e0!3m2!1sen!2sin!4v1646133353296!5m2!1sen!2sin" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>