
<app-slider></app-slider>
<!-- About Us-->
<section class="section section-md section-first bg-default text-md-left">
    <div class="container">
        <div class="row row-40 row-md-60 flex-lg-row-reverse justify-content-center align-items-xl-center">
        <div class="col-md-11 col-lg-5">
            <h5 class="text-primary-1 wow fadeInRight">Founded in 2015</h5>
            <h2 class="wow fadeInRight" data-wow-delay=".1s">Our Company</h2>
            <h3 class="wow fadeInRight" data-wow-delay=".2s">Who we are</h3>
            <!-- Bootstrap tabs-->
            <div class="tabs-custom tabs-horizontal tabs-line tabs-line-2" id="tabs-1">
            <!-- Nav tabs-->
            <div class="nav-tabs-wrap">
                <ul class="nav nav-tabs">
                <li class="nav-item" role="presentation"><a class="nav-link active border-0" href="#tabs-1-1" data-bs-toggle="tab">About</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link border-0" href="#tabs-1-2" data-bs-toggle="tab">Our mission</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link border-0" href="#tabs-1-3" data-bs-toggle="tab">Quality Assurance</a></li>
                </ul>
            </div>
            <!-- Tab panes-->
            <div class="tab-content mt-3">
                <div class="tab-pane fade show active" id="tabs-1-1">
                <p class="txt-61 font-w-normal font-13">Ayash rugs, is Into the Path of Consistent growth Since Its Inception in the year- 2015 Under the Proficient head. shift of the honorable <strong>Mr. Shahid Jamal</strong>. Their Profound. Experience has assisted 'fle company to Position amidst the depene dable The Batt Mate Réporter Company also algo de coveratine. Designer Carpet and in trelia ih penguin datin view mone various Ow me del nugent to the</p>
                </div>
                <div class="tab-pane fade" id="tabs-1-2">
                <p>Our mission is to provide our community and neighbors with proven poultry and the patterns essential to developing sustainable poultry flocks.</p>
                </div>
                <div class="tab-pane fade" id="tabs-1-3">
                <p class="txt-61 font-w-normal font-13">Priority serve l flawless Quality Product. quality fuels are Initial stage Unit xe development conducted tram nethe ef raw materials the duet factning the marile. for stagi Linni the pro= tinal of launch fuller defects assurance.</p>
                </div>
            </div>
            </div><a class="btn btn-primary wow fadeInUp" href="javascript:void(0)" routerLink="/about">Read more</a>
        </div>
        <div class="col-md-11 col-lg-7">
            <ngb-carousel>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="../../assets/images/s-carpet-1.jpg" alt="Random first slide">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="../../assets/images/s-carpet-2.jpg" alt="Random second slide">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="../../assets/images/s-carpet-3.jpg" alt="Random third slide">
                  </div>
                </ng-template>
              </ngb-carousel>
        </div>
        </div>
    </div>
</section>

<!-- Products-->
<section class="section section-md bg-default">
    <div class="container-fluid">
        <div class="row">
        <div class="text-center">
            <h2 class="wow fadeInRight text-primary-1" data-wow-delay=".1s">Our Products</h2>
        </div>
        <div class="row mx-0">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
            <!-- Product-->
            <article class="product wow fadeInRight">
                <div class="product-body">
                <div class="product-figure"><img src="../../assets/images/2.png" alt="" style="width: 200px; height: 200px; border-radius: 50%;"/>
                </div>
                <h5 class="product-title">
                    <a href="javascript:void(0)" routerLink="/product">Hand Knotted</a>
                </h5>
                </div>
                <div class="product-button-wrap"></div>
            </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
            <!-- Product-->
                <article class="product wow fadeInRight" data-wow-delay=".1s">
                    <div class="product-body">
                    <div class="product-figure"><img src="../../assets/images/natural-hand-knitted.jpeg" alt="" style="width: 200px; height: 200px; border-radius: 50%;"/>
                    </div>
                    <h5 class="product-title">
                        <a href="javascript:void(0)" routerLink="/product">Natural Hand Knotted</a>
                    </h5>
                    </div>
                    <div class="product-button-wrap"></div>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
                <!-- Product-->
                <article class="product wow fadeInRight" data-wow-delay=".2s">
                    <div class="product-body">
                    <div class="product-figure"><img src="../../assets/images/l-3.jpeg" alt="" style="width: 200px; height: 200px; border-radius: 50%;"/>
                    </div>
                    <h5 class="product-title">
                        <a href="javascript:void(0)" routerLink="/product">Pet Loom Durry</a>
                    </h5>
                    </div>
                    <div class="product-button-wrap"></div>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
                <!-- Product-->
                <article class="product wow fadeInRight" data-wow-delay=".3s">
                    <div class="product-body">
                    <div class="product-figure"><img src="../../assets/images/l-5.jpeg" alt="" style="border-radius: 50%; width: 200px; height: 200px;"/>
                    </div>
                    <h5 class="product-title">
                        <a href="javascript:void(0)" routerLink="/product">Furr Polyester</a>
                    </h5>
                    </div>
                    <div class="product-button-wrap"></div>
                </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3 mx-auto">
                <!-- Product-->
                <article class="product wow fadeInRight" data-wow-delay=".3s">
                    <div class="product-body">
                    <div class="product-figure"><img src="../../assets/images/kilim.jpeg" alt="" style="border-radius: 50%; width: 200px; height: 200px;"/>
                    </div>
                    <h5 class="product-title">
                        <a href="javascript:void(0)" routerLink="/product">Kilim Durry</a>
                    </h5>
                    </div>
                    <div class="product-button-wrap"></div>
                </article>
            </div>
        </div>
        </div>
    </div>
</section>

<!-- footer section -->
